---
layout: default
---

<div class="home">

    <!--  <h1 class="page-heading">Posts by Elimo Engineering</h1>-->

    <p class="rss-subscribe">Subscribe to our blog <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

    <ul class="post-list">
        <div class="container">
            {% for post in site.posts %}
            <hr/>
            <li>
                <div class="row" style="padding-bottom: 3em">
                    {% assign foundImage = 0 %}
                    {% assign images = post.content | split:"<img " %}
                    {% for image in images %}
                        {% if image contains 'src' %}
                            {% if foundImage == 0 %}
                                {% assign img_html = image | split:"/>" | first %}
                                <div class="col-sm-2">
                                    <div><img width="250" {{ img_html }} style="padding-top: 2em"/>{{ post.desc }}</div>
                                </div>
                                <div class="col">

                                    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                                    <h2>
                                        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                                    </h2>
                                    {% for tag in post.tags %}
                                    <span class="text-muted">{{ tag }} • </span>
                                    {% endfor %}
                                </div>

                                {% assign foundImage = 1 %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </li>
            {% endfor %}
        </div>
    </ul>


</div>
