<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger text-uppercase" href="https://elimo.io">
            <img src="/assets/from_mainsite/elimo_logo_lightblue.png"
                    alt="Elimo Logo"/>Elimo Engineering</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="https://elimo.io/#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="https://elimo.io/#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="https://elimo.io/#portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="https://elimo.io/#partnerships">Partnerships</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="https://elimo.io/#team">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="https://elimo.io/#technologies">Tech</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="https://elimo.io/#contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead">
    <div class="container">
        <div class="intro-text">
<!--            <div class="intro-heading text-uppercase"><img src="/assets/elimo_logo_lightblue.png"/>Elimo-->
<!--                Engineering-->
<!--            </div>-->
<!--            <div class="intro-lead-in">Make it real.</div>-->
        </div>
    </div>
</header>
<!--
<header class="site-header">


        <div class="wrapper">

            <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

                <nav class="site-nav">
                  <a href="#" class="menu-icon">
                    <svg viewBox="0 0 18 15">
                      <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
                      <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
                      <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
                    </svg>
                  </a>

            <div class="trigger">
                {% for my_page in site.pages %}
                {% if my_page.title %}
                <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                {% endif %}
                {% endfor %}
            </div>

            <div class="trigger">
                <a class="page-link" href="https://elimo.io/#about">About</a>
            </div>
            </nav>
       </div>
</header>
            -->
